.button {
    padding: 16px 18px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: Arial;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-decoration: none;
}

a.button:hover {
    background-color: #456C9B !important;
    color: #fff
}