<link
  rel="stylesheet"
  type="text/css"
  href="{{.Site.BaseURL}}css/_mystyle.css"
/>
<a
  href="https://www.linkedin.com/in/abdul-fattah-ikhsan-5a56965b"
  target="_blank"
  rel="nofollow noopener noreferrer"
  class="button"
  style="background-color: #305b90; border-color: #305b90"
  ><span class="text ellipsis">Hire me</span></a
>
<div>
  <p>
    I am a software engineer at
    <a
      href="https://wallex.asia/"
      target="_blank"
      rel="nofollow noopener noreferrer"
      >Wallex Technologies Pte Ltd</a
    >. I also a freelance web developer and teacher. Currently living in Bekasi
    Regency, Indonesia. My interests range from technology to programming. I am
    also interested in gardening, entrepreneurship, and reading.
  </p>
  <p>
    You can click the button above to hire me. If you’d like to get in touch,
    feel free to say hello through any of the social links below.
  </p>
</div>
